# Python
backend/.venv/
backend/__pycache__/
backend/app/__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Environnement
.env
*.env.local

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db